version: '3.8'
services:
  app:
    image: marcindz2/node-app:latest
    ports:
      - "8080:8080"
  
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=60